<% include partials/header.ejs %>

<link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">

<div class="loader" id="preloader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<link rel="stylesheet" type="text/css" href="Edaur-HomePage.css">

<script>
    $(window).on('load', function () { // makes sure the whole site is loaded
        $('#status').fadeOut(); // will first fade out the loading animation
        $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({ 'overflow': 'visible' });
    })


</script>
<div class="overlay">
    <div class="arrow bounce" id="arr">
        <i class="fas fa-chevron-circle-down"></i>
    </div>
</div>

<% include partials/navbar.ejs %>
<div class = "header">
	<div class = "header-logo">EDaur</div>
	<div class="edaur-photo">
								 <img src="https://media-exp1.licdn.com/dms/image/C560BAQFd1-vmDvCwog/company-logo_200_200/0?e=1604534400&v=beta&t=0e20PxfCjV2sTlovwMJxCk_fDwUwPPFRz9RxL6x5xzE" height="80px" width="80px">
						 </div>
	<div class = "header-list">
		<ul>
			<li>Home</li>
      <a href = "">
			<li>Gallery</li>
      <a href = "">
			<li>About Us</li>
      <a href = "">
			<li>Our Team</li>
      <a href = "">
			<li>Advertise with Us</li>
      <a href = "">
			<li>Editorial Submissions</li>
      <a href = "">
			<li>Contact Us</li>
      <a href = "">
		</ul>
	</div>
	</div>



<body>
	 <div class="slider">
		 <span id="slide-1"></span>
		 <span id="slide-2"></span>
		 <span id="slide-3"></span>
		 <div class="image-container">
			 <img src="Edaur image 1.jpg" class="slide" width="500" height="300" />
			 <img src="/uploads/media/default/0001/03/b7d624354d5fa22e38b0ab1f9b905fb08ccc6a05.jpeg" class="slide" width="500" height="300" />
			 <img src="/uploads/media/default/0001/03/5bfad15a7fd24d448a48605baf52655a5bbe5a71.jpeg" class="slide" width="500" height="300" />
		 </div>
		 <div class="buttons">
			 <a href="#slide-1"></a>
			 <a href="#slide-2"></a>
			 <a href="#slide-3"></a>
		 </div>
	 </div>
</body>



<section>
    <div class="topinfo">
        <div class="sinfo">
            <p>
                <br>
                <br>
                <hr />
                <h1>
                    <strong>Who are we ?</strong>
                </h1>
                <p1>
                    E-दौर, literally “The era of education” is Central India’s first student-based magazine startup that plans to educate and connect students from a city that is growing by leaps and bounds: Indore. As we contribute to the development of this educational hub, we are committed to providing the best for the leaders of tomorrow. Our magazine with meticulously prepared, engaging and precisely optimized content will be distributed freely to school and college-going students, quarterly. We also offer the advertiser and promoter an opportunity to highlight their services in front of the relevant audience.
                </p1>
            </<p>




							<div class = "contents">
								<h3 class = "section-title"> EDaur</h3>
								<div class = "contents-item">
									<img src = "https://images.app.goo.gl/cFj7euNGjSAoVn8a7">
							    <p>Student-based Magazine</p>
								</div>
								<div class = "contents-item">
									<img src = "https://images.app.goo.gl/QJpPQG1RYBr7LD8g8">
									<p>Indore-based startup</p>
								</div>
								<div class ="contents-item">
									<img src = "https://images.app.goo.gl/Z32bjhpRdtH4BNT69">
									<p>Innovative content</p>
								</div>
								<div class = "contents-item">
									<img src = "https://images.app.goo.gl/cFj7euNGjSAoVn8a7">
							    <p>Imparting free knowledge</p>
								</div>
								<div class = "contents-item">
									<img src = "https://images.app.goo.gl/QJpPQG1RYBr7LD8g8">
									<p>Promoting means</p>
								</div>
								<div class ="contents-item">
									<img src = "https://images.app.goo.gl/Z32bjhpRdtH4BNT69">
									<p>Versatile content</p>
								</div>
							</div>





              <section id="team">
                <div class="container my-3 py-5 text-center">
                    <div class="row mb-5">
                        <div class="col">
                            <h3 id="ecelltag"><strong>Evoke!Enterprise!Expand!</strong></h3>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="card" id="inc">
                                <div class="card-body">
                                    <img src="/img/3.png" alt="" class="img-thumbnail rounded-circle">
                                    <h3>Evoke</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card" id="aap">
                                <div class="card-body">
                                    <img src="/img/1.png" alt="" class="img-thumbnail rounded-circle">
                                    <h3>Enterprise</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card" id="aap">
                                <div class="card-body">
                                    <img src="/img/2.png" alt="" class="img-thumbnail rounded-circle">
                                    <h3>Expand</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>





            <br>
            <hr />
            <br>

            <section id="aboutus">
                <h1>
                    <strong>About Us</strong>
                </h1>
                <p><strong>E-Daur </strong>, is a magazine company in Indore</p>
                <p>It believes in a meaningful entrepreneurial community, which can only thrive when the entire
                    scope of the academic enterprise is located in close proximity, in order to foster the formal
                    and informal inter communications that lead to productive collaboration.
                </p>

                <h2><strong>VISION</strong></h2>
                <p>We believe that every student has a tremendous potential to lead the nation that is only waiting to be unleashed. E-दौर is a one-stop resource that will contribute not only to academic studies but also to the overall personality enhancement of the individual. We are trying to ignite the spark in ambitious minds.  We hope we can reach out to youngsters from every corner of the country soon! </p>
                <h2><strong>MISSION</strong></h2>
                <p>Hailing from a city that gravitates young talent from all over the country, we are a group of youngsters who have united with a mission to cater to every educational need of students, without gaining monetary benefit from them. We intend to support their effort to learn, discover, question and create through a huge plethora of knowledge that we devise carefully, every three months. </p>
                <p><br></p>
                <hr>
            </section>



            <section>
                <br>
                <h1>
                    <strong>Our Mentors</strong>
                </h1>
                <br>
                <div class="container">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="/img/nj.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/ajn.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/am.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/np.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section id=slbr>
                <div id='monitor'>
                </div>
                <div class="owl-carousel owl-theme">

                    <div class="item"><img src="/img/modi.jpg">
                        <div class="caption">
                            <h5 class="animated pulse">"The number of growing women Entrepreneurs is a blessing for us"
                            </h5>
                        </div>
                    </div>
                    <div class="item"><img src="/img/rahul.jpg">
                        <div class="caption">
                            <h5 class="">"Meri murgi sone ka anda degi"</h5>
                        </div>
                    </div>

                    <div class="item"><img src="/img/amit.jpg">
                        <div class="caption">
                            <h5 class="">"Kashmir is an integral part of India, and nobody can take it away from us"
                            </h5>
                        </div>
                    </div>

                    <div class="item"><img src="/img/shashiji.jpg">
                        <div class="caption">
                            <h5 class="">"I'm not a techno-determinist. I believe we need to improve our existing human resources, and technology can only be a complement"</h5>
                        </div>
                    </div>


                    <div class="item"><img src="/img/shiv.jpg">
                        <div class="caption">
                            <h5 class="">"The seven crore people of M.P are my family"</h5>
                        </div>
                    </div>


                    <div class="item"><img src="/img/kamal.jpg">
                        <div class="caption">
                            <h5 class="">"I am not hungry for post, I am hungry for development"</h5>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </section>
            <hr>

														<section id = "Follow Us">
                            <p>
                            <strong>><h2>Follow us<h2></strong>
														</p>
														</section>
                            <a href="#" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
        <a href="#" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
        <a href="#" class="icon-button youtube"><i class="icon-youtube fab fa-youtube"></i><span></span></a>
        <a href="#" class="icon-button instagram"><i class="icon-instagram fab fa-instagram"></i><span></span></a>

                    </div>
                    <div class='contact'>
                        <h3>Feedback Form</h3>
                        <form method="POST" action="/">
                            <p>
                                <label>Name</label>
                                <input type="text" name='name' required  style="width: 30%;padding: 15px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: vertical;">
                            </p>

                            <p>
                                <label>Subject</label>
                                <input type="text" name='subject' required  style="width: 30%;padding: 15px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: vertical;">
                            </p>

                            <p>
                                <label>Email Adress</label>
                                <input type="email" name='email' required  style="width: 30%;padding: 15px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: vertical;">
                            </p>

                            <p>
                                <label>Phone Number</label>
                                <input type="text" name='phone' required  style="width: 30%;padding: 15px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: vertical;">
                            </p>

                            <p class='full'>
                                <label>Message</label>
                                <textarea name="message" rows="5" required  style="width: 30%;padding: 15px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: vertical;"></textarea>
                            </p>

                            <p class='full'>
                                <button onclick="message()">Submit</button>
                            </p>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </section>

    </section>

<script>
    baguetteBox.run('#slides');
</script>

<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAbIrxhlpo0cX8-uIvHUSuCCYSK2Gsa6Q4",
    authDomain: "ecellweb-d32be.firebaseapp.com",
    databaseURL: "https://ecellweb-d32be.firebaseio.com",
    projectId: "ecellweb-d32be",
    storageBucket: "ecellweb-d32be.appspot.com",
    messagingSenderId: "1009691924549",
    appId: "1:1009691924549:web:5892786fa2f1003d22eb2c",
    measurementId: "G-FYZVWEDYY9"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

<footer id="footer" class="footer style_1">

				<div class="widgets_row">
			<div class="container">
				<div class="footer_widgets">
					<div class="row">
													<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								                                                                                                                        <div class="footer_logo">
                                                <a href="">
                                                    <img src= ""/img/3.png" alt="" class="img-thumbnail rounded-circle"/>
                                                </a>
                                            </div>
                                        																												<div class="footer_text">
											<p>We believe that every student has a tremendous potential to lead the nation that is only waiting to be unleashed. E-दौर is a one-stop resource that will contribute not only to academic studies but also to the overall personality enhancement of the individual. We are trying to ignite the spark in ambitious minds.  We hope we can reach out to youngsters from every corner of the country soon! .</p>
										</div>
																																									</div>
													<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<section id="text-2" class="widget widget_text"><h4 class="widget_title no_stripe">Edaur  : (video)</h4>			<div class="textwidget"><p><iframe src="" frameborder="0" allowfullscreen=""></iframe></p>
</div>
		</section>							</div>
													<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<section id="nav_menu-2" class="widget widget_nav_menu"><h4 class="widget_title no_stripe">Extra Links:</h4><div class="menu-other-link-container"><ul id="menu-other-link" class="menu"><li id="menu-item-1694" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1694"><a href="#">Opportunities</a></li>
<li id="menu-item-1696" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1696"><a href="">Privacy Policy</a></li>
<li id="menu-item-1697" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1697"><a href="">Contact</a></li>
<li id="menu-item-1698" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1698"><a href="">Our Editions</a></li>
</ul></div></section>							</div>
											</div>
				</div>
			</div>
		</div>


<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-linkedln"></a>
<a href="#" class="fa fa-youtube"></a>



			<div class="copyright_row">
			<div class="container">
				<div class="copyright_row_wr">

			</div>
		</div>
		</footer>


<% include partials/footer.ejs %>
